body.sem-rolagem {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.no-content-section {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    padding: 0 76px 88px;
}

.no-content-section[hidden] {
    display: none;
}

.no-content-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.no-content-section i {
    font-size: 3rem;
    color: var(--text-muted);
}
