*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
a {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}