<!-- Modal sem conteúdo -->
<!-- Para usar PRECISA ter: 
    <section class="no-content-section" id="no-content-section"></section>

    E no head precisa do script e do link css:
    <link rel="stylesheet" href="/shared/styles/no-content.css">

    Em um script type="module", importe atualizarNoContent de
    /shared/services/no-content.js e chame atualizarNoContent(temConteudo).
    Passe true para ocultar o no-content ou false para exibi-lo.
-->

<div>
    <i class="fa-solid fa-info-circle"></i>
    <p>Nenhum conteúdo disponível para esta página.</p>
</div>